.sougpc-products-container .widget-title {
    background-color: white;
    display: inline-block;
    padding: {
        right: 10%;
        left: 10%
    }
    text-align: center;
    position: relative;
    top: -54px;
}