a, a:hover, a:active, a:focus {
  outline: 0 !important; }

.container {
  max-width: 1024px !important; }

.sougpc-banner .panel-grid-cell {
  margin-bottom: 0 !important; }

.sougpc-banner-text p {
  line-height: 1.3em;
  font-size: 85%;
  margin-bottom: 5px; }

.sougpc-banner-text p:last-child {
  margin-bottom: 0; }

.c-instagram-flex {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0 !important; }
  .c-instagram-flex > li {
    width: 16.666%;
    -ms-flex-preferred-size: 16.666%;
        flex-basis: 16.666%;
    padding-bottom: 0;
    overflow: hidden; }
    @media (max-width: 768px) {
      .c-instagram-flex > li {
        width: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%; } }
    .c-instagram-flex > li > a > img {
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      width: 100%; }
      .c-instagram-flex > li > a > img:hover {
        -webkit-transform: scale(1.3);
                transform: scale(1.3); }

.wpb_pro_img_url {
  background-color: #4f4f4f; }
  .wpb_pro_img_url:hover > img,
  .wpb_pro_img_url:active > img,
  .wpb_pro_img_url:focus > img {
    opacity: .25; }

.main-navigation .shopping-cart .shopping-cart-dropdown {
  right: 0 !important;
  width: 400px !important; }

.woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item a:not(.remove) {
  font-size: 14px; }

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
  width: 56px !important; }

.sougpc-products-container .widget-title {
  background-color: white;
  display: inline-block;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  position: relative;
  top: -54px; }

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  width: 39%; }

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  width: 57%; }

.wpcf7-form p {
  margin-bottom: 0.8em; }

.wpcf7-form-control {
  width: 100%; }

.wpcf7-gdpr-text {
  line-height: 1rem; }

.acceptace-gdpr .wpcf7-list-item {
  margin-left: 0; }

.footer-active-sidebar .widget_nav_menu .menu-item {
  text-align: center; }

.newsletterpopup {
  cursor: pointer; }

.panel-grid-stretch-fix .so-panel {
  height: 100%; }

.panel-grid-stretch-fix .panel-widget-style {
  height: 100%; }

.panel-grid-stretch-fix .panel-widget-style > * {
  height: 100%; }

.variations {
  border-collapse: separate;
  border-spacing: 1em; }

.variations svg {
  display: none; }

.reset_variations {
  display: inline-block;
  margin-top: 20px; }

.pro_price_area {
  color: #a09d5d !important; }

.wpb_cart_button {
  display: none; }

.grid_no_animation figcaption {
  background: none !important; }

#colophon.footer-active-sidebar {
  border-top: none !important; }

#colophon .widgets {
  padding-bottom: 30px; }

/* WP Instagram Widget plugin */
.tnp-widget-minimal input.tnp-email {
  margin-bottom: 15px; }

