@import 'generic/custom-normalize.scss';
@import 'layout/generic.layout';
@import 'components/banners/banner';
@import 'components/banners/banners.instagram';
@import 'components/plugins/components.plugins.wpbWooProductsSlider';
@import 'components/woocommerce/cart/site-header-cart';
@import 'components/woocommerce/widgets/product-list-widget';
@import 'components/woocommerce/products/products-container';
@import 'components/woocommerce/products/single-product-container';

.wpcf7-form p {
	margin-bottom: 0.8em;
}
.wpcf7-form-control {
	width: 100%;
}
.wpcf7-gdpr-text {
	line-height: 1rem;
}
.acceptace-gdpr .wpcf7-list-item {
	margin-left: 0;
}


.footer-active-sidebar .widget_nav_menu .menu-item {
	text-align: center;
}


.newsletterpopup {
	cursor: pointer;
}


.panel-grid-stretch-fix .so-panel {
	height: 100%;
}
.panel-grid-stretch-fix .panel-widget-style {
	height: 100%;
}
.panel-grid-stretch-fix .panel-widget-style > * {
	height: 100%;
}


.variations {
	border-collapse: separate;
	border-spacing: 1em;
}
.variations svg {
	display: none;
}

.reset_variations {
	display: inline-block;
	margin-top: 20px;
}


.pro_price_area {
  color: #a09d5d !important;
}
.wpb_cart_button {
	display: none;
}
.grid_no_animation figcaption {
	background: none !important;
}


// .instagram-pics.instagram-size-thumbnail {
// 	display: flex;
// 	flex-wrap: wrap;
// }

// .instagram-pics.instagram-size-thumbnail > li {
// 	width: 33.33%;
// }

// .instagram-pics.instagram-size-thumbnail > li > a {
// 	display: inline-block;
// 	padding-right: 4px;
// 	padding-left: 4px;
// }

#colophon.footer-active-sidebar {
    border-top: none !important;
}

#colophon .widgets {
  padding-bottom: 30px;
}


/* WP Instagram Widget plugin */
.tnp-widget-minimal input.tnp-email {
  margin-bottom: 15px;
}