.sougpc-banner {
    .panel-grid-cell {
        margin-bottom: 0 !important;
    }
}

.sougpc-banner-text {
    p {
        line-height: 1.3em;
        font-size: 85%;
        margin-bottom: 5px;
    }
    p:last-child {
        margin-bottom: 0;
    }
}