.c-instagram-flex {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 0 !important;

    > li {
        width: 16.666%;
        flex-basis: 16.666%;
        padding-bottom: 0;
        overflow: hidden;
        
        @media (max-width:768px) {
            width: 33.333%;
            flex-basis: 33.333%;
        }

        > a {
            > img {
                transition: .3s ease-in-out;
                width: 100%;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }
}