// Mini cart
.main-navigation .shopping-cart .shopping-cart-dropdown {
  right: 0 !important;
  width: 400px !important;
}


// Mini cart item product name
.woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item a:not(.remove) {
  font-size: 14px;
}